body{
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-top:0; 
}

h1,h2,h3,h4,h5,h6{
	color: #006847;
	font-family: 'Indie Flower', cursive;
}

h1{
	font-size: 3.5em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.5em;
}

a,a:hover{
	color:#006847;
	font-family: 'Open Sans', sans-serif;
}

footer{
	margin:0;
	/*min-height: 50px;*/
}

#header-main{
	height: 120px;
	/*padding: 1em;*/
	position: relative;
	text-align: center;
	top: 0;
	width: 100%;
}

#header-main h1{
	color:#CE1126;
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-weight: bold;
}

.navbar-toggle{
	/*z-index: 2;*/
	background-color: #006847;
}

.navbar-inverse .navbar-toggle:hover{
	background-color: #006847;
	border-color: #CE1126;
}

.navbar-inverse .navbar-toggle:focus{
	background-color: #006847;
}

.navbar-inverse{
	background-color: #fff;
	border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #006847;
  border: 1px solid #fff;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav .menu-active {
  border-bottom: 1px solid #CE1126;
  color: #006847;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

/*
* Carousel
*/
.carousel-inner{
	max-height: 450px;
}


/*#item-1, #item-2{
	background-color: #333;
}

#item-1{
	background-image:url('../images/mexico-df.jpg');
}

#item-2{
	background-image:url('../images/teotihuacan.jpg');
}

#item-3{
	background-image:url('../images/castillo-chapultepec.jpg');
}

#item-4{
	background-image:url('../images/basilica-de-guadalupe.jpg');
}*/

.carousel-inner > .item > img{
	height: 450px;
	width: 100%;
}

/*.item .carousel-caption{
	font-size:3em;
	left: 0;
	width: 100%;
}*/

.item .carousel-caption {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  bottom: 0;
  font-size: 2.5em;
  height: 100%;
  left: 0;
  width: 100%;
}

.item .carousel-caption h2{
	color: #ffffff;
}

.item .carousel-caption h3 {
  color: white;
  bottom: 10%;
  position: absolute;
  width: 100%;
}

.carousel-control{
	z-index: 10;
}

#carousel-caption-1, #carousel-caption-2, #carousel-caption-3, #carousel-caption-4{
	background-color: rgba(0, 0, 0, .6); 
	bottom:0;
	color: #fff;
	height: 100%; 
	left:0; 
	opacity:0.4; 
	position: absolute; 
	width: 100%; 
	/*z-index: 1;*/
}

.brand-name{
	font-weight: bold;
}

.panel-default {
  border: 0 none;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #ccc;
}

.panel-default > .panel-heading{
	background-color: #fff;
	border: 0;
	border-top: 1px dotted #006847;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: #006847;
}

.panel-default > .panel-body{
	border-bottom: 1px dotted #CE1126;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-top: 0;
}

.page-header{
	border-bottom: none;	
	font-size: 1.5em;
	/*margin: 10% 0 5%;*/
}

.div-link{
	font-size: 0.75em;
	font-weight: bold;
	text-align: right;
}

.div-link a:hover{
	border-bottom: 1px solid #CE1126;
	text-decoration: none;
}

#footer-border{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006847+0,ffffff+50,ffffff+51,ce1126+100 */
background: rgb(0,104,71); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,104,71,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 51%, rgba(206,17,38,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,104,71,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 51%,rgba(206,17,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,104,71,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 51%,rgba(206,17,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006847', endColorstr='#ce1126',GradientType=1 ); /* IE6-9 */
height: 5px;
}

#copy{
	color: #CE1126;
	font-size: .50em;
	text-align: right;
}

.view {
	background-position: center center;
	background-size: 100% 230px; 
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	border-radius: 7px;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	float: left;
	margin-bottom: 1em;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

.view .mask, .view .content {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.view img {
  display: block;
  height: 230px;
  margin: auto;
  position: relative;
  width: 100%;
}
.view h2 {
    background: hsla(0, 0%, 0%, 0.8) none repeat scroll 0 0;
    color: #fff;
    font-size: 17px;
    margin: 20px 0 0;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.view p {
    color: #fff;
    font-family: Georgia,serif;
    font-size: 12px;
    font-style: italic;
    padding: 10px 20px 20px;
    position: relative;
    text-align: center;
}
.view a.info {
    background: #000 none repeat scroll 0 0;
    box-shadow: 0 0 1px #000;
    color: #fff;
    display: inline-block;
    margin-top: 3em;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}
.view img {
    transition: all 0.2s ease-in 0s;
}
.view .mask {
    background-color: hsla(0, 0%, 0%, 0.6);
    opacity: 0;
    transform: translate(460px, -100px) rotate(180deg);
    transition: all 0.2s ease-in-out 0.4s;
    z-index: 10;
}

.view .col-1{
	background: hsla(161, 100%, 20%, 0.7) none repeat scroll 0 0;
}

.view .col-2{
	background: hsla(0, 0%, 100%, 0.7) none repeat scroll 0 0;
}

.view .col-3{
	background: hsla(353, 85%, 44%, 0.7) none repeat scroll 0 0;
}

.view h2 {
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out 0s;
}
.view p {
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out 0s;
}
.view a.info {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out 0.1s;
}
.view:hover .mask {
    opacity: 1;
    transform: translate(0px, 0px);
    transition-delay: 0s;
}
.view:hover h2 {
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.view:hover p {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.view:hover a.info {
    transform: translateY(20%);
    transition-delay: 0.3s;
}

@media screen and (min-width: 700px) and (max-width: 1280px){
	h2{
		font-size: 2em;
	}

	.view{
		height: 220px;
	}
}

@media screen and (min-width: 1280px){
	.view{
		height: 230px;
	}
}

@media screen and (max-width: 700px){

	h2{
		font-size: 1.75em;
	}
	.carousel-inner > .item > img{
		height: 150px;
		width: 100%;
	}

	.item .carousel-caption h3 {
  		font-size: 0.75em;
		margin-bottom: 1em;
	}

	.page-header{
		font-size: 1em;
		margin: 20px 0 10px;
	}
}

